<html>

        <head>
            <title> Fastapiapp </title> 
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <style>
                body {
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNYhWciqXwKKYpG1jAVvEnI4eaoI6Ln7P7_g&s');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                }
            </style>
        </head>
        <body>
                
        </body>


    </html>
    '''